# Java stuff
*.class
*.jar
*.zip
*.tar.gz

# Gradle stuff
.gradle
build/
out/
!gradle-wrapper.jar

# IDE stuff
*.iml
.idea/
.vscode/
.settings/
.project
.classpath

# generated code
src/main/generated
bin/

# database stuff
.db

# other stuff
etc/dot/
etc/dumps/